{% extends "base.html" %}
{% block title %} Account Details {% endblock %}
{% block head %}
	<title>Account Details</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class = "text-center">
	<div class = "jumbotron">
		<div class="logo">
		<img src="{{url_for('static', filename='images/bank_logo.gif')}}" img width="50%" img height= "50%" >
		</div>
		<br>
		<br>
		<div class="alert alert-success">
			Logged in as {{ user[0][1] }}
		</div>
		<h2>Account Details</h2>
		<br>
		<h4><i>Hello,{{ user[0][1] }}!</i></h3>
		<table style="width:50%" table border="1" table align = "center">
			  <thead>
				<th>Account Number</th>
				<th>Account Balance </th>
			  </thead>
			  <tbody>
				{% for r in user %}
				<tr>
					<td>{{r.0}}</td>
					<td>{{r[3]}}</td>
				</tr>
				{% endfor %}
				</tbody>	
		</table>
		<br>
		<br>
		<form method="POST" action="{{ url_for('withdraw') }}">
			<button type="submit" class="btn btn-danger">Withdraw Funds</button>
			<input type = "hidden" id = "username" name = "username" value = {{ user[0][1] }}>
		</form>
		<br>
		<form method="POST" action="{{ url_for('logout_sessions') }}">
			<button type="submit" class="btn btn-primary">Logout</button>
		</form>
	</div>	
</div>
<script type="text/javascript" src="{{url_for('static', filename='script/login_sessions.js')}}"></script>	
{% endblock %}
