{% extends "base.html" %}
{% block title %} Account Details {% endblock %}
{% block head %}
	<title>Account Details</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class = "text-center">
	<div class = "jumbotron">
	<h1 class="display-3"><b>Faulty Vault Bank</b></h1>
		<div class="alert alert-success">
			You have logged in successfully!
		</div>
		<h2>Account Details</h2>
		<br>
		<h4><i>Hello,[User]!</i></h3>
		<table style="width:50%" table border="1" table align = "center">
			  <thead>
				<th>Account Number</th>
				<th>Account Balance </th>
			  </thead>
			  <tbody>
				{% for r in row %}
				<tr>
					<td>{{r.0}}</td>
					<td>{{r[3]}}</td>
				</tr>
				{% endfor %}
				</tbody>	
		</table>
		<br>
		<br>
		<input type="submit" class="btn btn-danger" value="Withdraw Funds">
	</div>
</div>	
{% endblock %}

