{% extends "base.html" %}
{% block title %} Admin Dashboard {% endblock %}
{% block head %}
	<title>Admin Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class = "text-center">
	<div class = "jumbotron">
		<div class="logo">
		<img src="{{url_for('static', filename='images/bank_logo.gif')}}" img width="50%" img height= "50%" >
		</div>
		<br>
		<br>
		<div class="alert alert-success">
			Welcome to the Administrator Dashboard!
		</div>
		<h2></h2>
		<br>
		<h3><b>Faulty Vault Bank Dashboard</b></h3>
		<br>
		<h4><i>Quick Stats</i></h4>
		<br>
		<div class="icon1">
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
			</svg>
			<b>15,000 Bank Customers</b>
		</div>
		<div class="icon2">
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4z"/>
				<path fill-rule="evenodd" d="M0 7v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H3z"/>
			</svg>
			<b>Total Revenue $120,000,000</b>
		</div>
		<div class="icon3">
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
			</svg>
			<b>Total Profit 5.3%</b>
		</div>
		<br>
		<br>
		<img src="{{url_for('static', filename='images/tasks.jpg')}}" img width="30%" img height= "30%" >
		<img src="{{url_for('static', filename='images/projects.jpg')}}" img width="30%" img height= "30%" >
		<br>
		<br>
		<h4><i>Menu</i></h4>
		<br>
		<button id="misconfig3" class="btn btn-secondary">View User Account Details</button>
		<br>
		<br>
		<button id="misconfig4" class="btn btn-secondary">Reset User Password</button>
		<br>
		<br>
		<button id="misconfig5" class="btn btn-secondary">Disable User Account</button>
		<br>
		<br>
		<button id="misconfig6" class="btn btn-secondary">Change User Credit Limit</button>
		<br>
		<br>
		<button id="misconfig7" class="btn btn-secondary">Authorize Transactions</button>
		<br>
		<br>
		<br>
		<form method="POST" action="{{ url_for('logout') }}">
			<button type="submit" class="btn btn-primary">Logout</button>
		</form>
	</div>	
</div>	
{% endblock %}