{% extends "base.html" %}
{% block title %} Account Details {% endblock %}
{% block head %}
	<title>Account Details</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class = "text-center">
	<div class = "jumbotron">
		<br>
		<iframe src="https://trinket.io/embed/python3/60488d7611" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
		<br>
	</div>	
</div>	
{% endblock %}		