{% extends "base.html" %}
{% block content %}
    <div class="bg-light main-wrapper">
        <div class="container main-wrapper">
            <p><h3>According to Security Magazine, a study was conducted and found that there is an attack on the web every 39 seconds. Many of these attacks are made possible due to outdated technologies, or because developers aren’t aware of standard security measures. Fortunately, many of these gaps in security can be mitigated through education and software updates.</h2>
            <p><h3>Our goal is to educate by demonstrating how these top attacks on the web are performed. After each demonstration, a detailed write-up that explains how these attacks may be prevented will be provided.</h2>
            <p><h3>Please select one of the top attacks from the drop-down box below to view more information.</h2>
            <div class="container d-flex pt-5 justify-content-center">
                <select class="custom-select bg-secondary text-white w-75 mx-auto">
                    <option selected>Select a vulnerability to explore</option>
                    <option value="1">SQL Injection</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div> 
    </div>
{% endblock %}
