{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block head %}
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="text-center">
<div class = "jumbotron">
	<div class="logo">
		<img src="{{url_for('static', filename='images/bank_logo.gif')}}" img width="50%" img height= "50%" >
	</div>	
	<br>
	<br>
	<div class = "container">
		<div class="alert alert-danger">
			&#9888;
			<i><strong>Warning!</strong> Vulnerability for Sensitive Data Exposure <strong>on!</strong> Click <a href = "/login?attackToken=5">here</a> to switch off</i>
		</div>
		<br>
		<h2>User Login</h2>
		<br>
	</div>
	<button id="sde3" class="btn btn-success" onclick = 'window.open("/db_dump?db=1", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=300,left=100,width=500,height=500")'>Dump Unencrypted DB</button>
	<button id="sde4" class="btn btn-warning" onclick = 'window.open("/db_dump?db=2", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=300,left=100,width=500,height=500")'>Dump Base64-Encrypted DB</button>
	<button id="sde1" class="btn btn-warning" onclick = 'window.open("/db_dump?db=3", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=300,left=100,width=500,height=500")'>Dump MD5-Encrypted DB</button>
	<button id="sde2" class="btn btn-warning" onclick = 'window.open("/db_dump?db=4", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=300,left=100,width=600,height=500")'>Dump SHA-256-Encrypted DB</button> 
	<button id="sde5" class="btn btn-danger" onclick = 'window.open("/db_dump?db=5", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=300,left=100,width=600,height=500")'>Dump PBKDF2-Encrypted DB</button>
	<div class = "container">
		<br>
		<div class="container mt-3">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
						<!-- Success Alert -->
					<div class="d-flex justify-content-center align-items-center alert alert-{{ category }} alert-dismissible fade show" role="alert">
						<span class="flash-message">{{ message }}</span>
						<button type="button" class="d-flex mt-2 close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
			{% endif %}
			{% endwith %}
		</div>
		<div class = "login">
			<form action="/login_exposure" method="POST">
				<div class="form-group">
					<label for="UsernameInput">Username</label>
					<input type="text" id="UsernameInput" placeholder="Enter Username" name="username">
				</div>
				<div class="form-group">
					<label for="PasswordInput">Password </label>
					<input type="password" id="PasswordInput" placeholder="Password" name="password">
					<input type="hidden" id="attackToken" name="attackToken" value="5">
					<input type="hidden" id="dbToken" name="dbToken" value="1">
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
		<h6>Don't have an account? <a href = "/register?attackToken=5">Create Account</a></h6>
	</div>
	<br>
	<button id = "decrypt1" class="btn btn-warning" onclick = 'window.open("https://codebeautify.org/base64-decode", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=800,left=800,width=800,height=800")'>Decode Base64-Encrypted Passwords</button>	
	<button id = "decrypt2" class="btn btn-warning" onclick = 'window.open("https://crackstation.net/", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=800,left=800,width=800,height=800")'>Decode MD5-Encrypted Passwords</button>
	<button id = "decrypt3" class="btn btn-warning" onclick = 'window.open("https://crackstation.net/", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=800,left=800,width=800,height=800")'>Decode SHA-256-Encrypted Passwords</button>
	<button id = "decrypt4" class="btn btn-danger" onclick = 'window.open("https://crackstation.net/", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=800,left=800,width=800,height=800")'>Decode PBKDF2-Encrypted Passwords</button>
</div>	
</div>
<script type="text/javascript" src="{{url_for('static', filename='script/login_exposure.js')}}"></script>		
{% endblock %}

