{% extends "base.html" %}
{% block title %}Safe Login {% endblock %}
{% block head %}
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="text-center">
<div class = "jumbotron">
	<div class="logo">
		<img src="{{url_for('static', filename='images/bank_logo.gif')}}" img width="50%" img height= "50%" >
	</div>	
	<br>
	<br>
	<div class = "container">
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
				<path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
			</svg> You are on a Safe Login Page</h4>
			<div id="unsafe">Click <a id="switchOn" href = "{{ referrer }}">here</a> to Turn Vulnerability For <span id="vulnerability"></span> On</div>
				<p id="refer" hidden>{{ referrer }}</p>
		</div>
	<br>
	<h2>User Login</h2>
	<div id="sqlButtons" style="display:none">
		<button id="sql1" class="btn btn-info">Login as User Without a Password</button>  
		<button id="sql2" class="btn btn-info">Retrieve Contents of User Database</button>
	</div>
	<div id="xssButtons" style="display:none"> 
		<button id="xss1" class="btn btn-info">Test Reflected XSS</button>
		<button id="xss2" class="btn btn-info" onclick = 'window.open("{{ url_for("phishing") }}", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=500,height=500")'>Exploit Reflected XSS</button>
		<button id="xss3" class="btn btn-info">Test Stored XSS</button>
	</div>
	<div class = "login">
		<form action="/login" method="POST">
			<div class="form-group">
				<label for="UsernameInput">Username</label>
				<input type="text" id="UsernameInput" placeholder="Enter Username" name="username">
			</div>	
			<div class="form-group">
				<label for="PasswordInput">Password </label>
				<input type="password" id="PasswordInput" placeholder="Password" name="password">
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
		</div>
		<h6>Don't have an account? <a href = "{{ url_for('register') }}">Create Account</a></h6>
	</div>	
</div>	
</div>		
<script type="text/javascript" src="{{url_for('static', filename='script/login.js')}}"></script>		
{% endblock %}

