{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
	<title>Sign Up</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class = "text-center">
	<div class = "jumbotron">
	<h1 class="display-3"><b>Faulty Vault Bank</b></h1>
		<div class = "container">
			<div class="alert alert-info">
				<i>*Passwords must be min. 8 characters, contain at least 1
				number, 1 special character [$, @, #, %, !, ^, &, *, (, )], 1 lowercase letter and 1 uppercase
				letter</i>
			</div>
			<br>
			<h2 style="color:red">Username Not Available. Please Try again!</h2>
			<br>
			<h2>Register</h2>
			<br>
			<form action="/register" method="POST">
				<div class="form-group">
					<label for="CreateUsernameInput">Create Username</label>
					<input type="text" id="CreateUsernameInput" placeholder="Create Username" name="createUsername">
				</div>
				<div class="form-group">
					<label for="CreatePasswordInput1">Create Password*</label>
					<input type="password" id="CreatePasswordInput1" placeholder="Create Password" name="createPassword1">
				</div>
				<div class="form-group">
					<label for="CreatePasswordInput2">Re-Enter Password*</label>
					<input type="password" id="CreatePasswordInput2" placeholder="Re-Enter Password" name="createPassword2">
				</div>
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
			<h6>Already have an account?</h6>
			<a href = "http://157.245.181.76/login">Login</a>
		</div>
	</div>	
</div>
{% endblock %}
