* {box-sizing: border-box}

body{
	margin: 0; // 1
	font-family: $font-family-base;
	@include font-size($font-size-base);
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $body-color;
	text-align: left; // 3
	background-color: $body-bg; // 2*/
}

/* Add padding to containers */
.login {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.LoginButton {
  background-color: #DodgerBlue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.LoginButton:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.main-wrapper {
  background-color: #f1f1f1;
  height: 100vh;
}

.navbar-brand {
  font-size: 40px !important;
}

.nav-link {
  font-size: 20px !important;
}

.writeup {
  background-color: lightgray;
}

.logo:before {
  -moz-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
  -webkit-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
  box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
 }

